<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/acceptor-icon48.png" width="30" height="30" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addUser">New identity</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
